.sidenav {
    height: 95%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 500px;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
}
.nav-title {
    font-size: 30px;
    font-weight: bold;
}

.chk-filter {
    font-size: 20px;
    font-weight: bold;
}